.chat{
    padding:25rem;
    display:flex;
   
    flex-direction:column;
    position:fixed;
}
.chat_input{
    padding:2rem;
    height:2rem;
}
.chat_button{
height:2rem;
    padding-right:4rem;
    background-color:purple;
    display:flex;
    flex-direction:row;
    margin-top:2rem;
    color:white;
    margin-left:3rem;
    text-align:center;
 
}