.landing {
	height: 450vh;
	margin-top: -2rem;
}

@media screen and (max-width: 500px) {
	.landing {
		height:330vh;
		
		
		
	}
}





.description {
	font-size: 1rem;
	font-weight: medium;
	margin: 0, 2rem;
	background-image: url("/bgwelearn.png");
	height: 80vh;
	justify-content: center;
	padding-top: 8rem;
	padding-left: 3rem;
	color: white;
}

.welcome{
	color: purple;
		margin-left: 4rem; 
		font-size: 3rem ;
}



@media screen and (max-width: 500px) {
	.welcome {
		margin-left:1.1rem;
		
		
		
	}
}



.servicesbtn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	color: white;

	background-color: purple;
}

.servicesdiv {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: flex;
	flex-direction: column;

	border-radius: 5px;
	margin-top: 4rem;
	text-align: center;
	height: 90vh;
	border: 4px solid purple;
	width: 60%;
	margin-left: 20%;
}

@media screen and (max-width: 500px) {
	.servicesdiv {
		height: 60vh;
		width: 90%;
		margin-bottom: 0rem;
		margin-left:1rem;
		
	}
}

.container {
	margin-top: 5rem;
}
