.servicesbtn{
        color:blue;
    background-color:white;
   border:transparent;
    font-size:2.9rem;
    cursor:pointer;
    box-shadow:0 4px 10px 0 rgba(10,0,0,0.2);
  transition:0.2;
  margin:1rem 0.9rem;
  border-radius:8px;
  padding-bottom:1.2rem;
  font-weight:bold;
  margin-top:2rem;
}
.servicesbtn a {
font-size:1.1rem;
 
}

@media screen and (max-width:500px) {
    .servicesbtn{
  padding:1rem;
  font-size:1.1rem;
  margin:2rem   4rem;
  margin-top:6rem;
    }
    
}


@media screen and (max-width:500px) {
    .servicesbtn a{

  font-size:1.8rem;

  
    }
    
}



