.unitsdiv {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	text-align: center;
	height:100%;
	text-decoration: underline;
	color: white;
  
}
.unitsdiv li {
	list-style: none;
}




.unitsbtn {
	padding: 0.5rem;
	color: blue;

	border: transparent;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.2;
	margin-top: 0.5rem;
 
 
}
.unitsbtndiv :hover{
background-color:purple;
color:blueviolet;
}



.unitsbtn :hover 
{
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
	color: white;

	background-color: purple;
}

.unitscontainer {
	background-color: black;

}




@media screen and (max-width: 500px) {
	.unitsdiv {
	
		height:100%;
		margin-left:-1rem;
	
		padding-bottom:9rem;
		
	}
}

@media screen and (max-width: 500px) {
	.unitsbtn {
	padding:0.5rem;

		
		
		
		
	}
}