.unitsdiv {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	text-align: center;
	height: 80vh;
	text-decoration: underline;
	color: white;
  
}
.unitsdiv li {
	list-style: none;
}





.unitsbtn {
	padding: 0.5rem;
	color: blue;

	border: transparent;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.2;
	margin-top: 0.5rem;
 
 
}
.unitsbtndiv :hover{
background-color:purple;
color:blueviolet;
}
.unitsbtnhidden{
	display:none;
}


.unitsbtn :hover 
{
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
	color: white;

	background-color: purple;
}

.unitscontainer {
	background-color: black;

}
